//
.address {
  max-width: $view-port-desktop;
  margin: 0 auto;
}

.address__wrapper {
  position: relative;
}

.address__wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  width: 38px;
  height: 50px;
  transform: translate(-50%, -50%);
  background: url("../../icons/map-pin-icon.svg") no-repeat center;
}

.address__map {
  display: block;
  width: 100%;
  object-fit: cover;
}
