//

.advantages {
  padding: 40px 0 60px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 119px;
  }
}

.advantages__title {
  margin-bottom: 5px;

  @include tablet {
    margin-top: 0;
  }
}

.advantages__description {
  @include font-info(24px, 36px, 700);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;

  @include tablet {
    @include font-info(42px, 63px, 700);
    margin-bottom: 62px;
  }

  @include desktop {
    margin-bottom: 77px;
  }
}

.advantages__list {
  @include list-base;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
    padding-left: 10px;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 30px;
    padding-left: 0;
  }
}

.advantages__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  @include tablet {
    padding-left: 72px;
    align-items: flex-start;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      display: block;
      width: 52px;
      height: 55px;
      margin: 0 auto;
    }
  }

  @include desktop {
    align-items: center;
    padding-left: 0;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 56px;
      margin: 0 auto;
      margin-bottom: 24px;
      position: relative;
    }
  }
}

.advantages__item--speed::before {
  background: url("../../icons/speed-icon.svg") no-repeat center / cover;
}

.advantages__item--convenience::before {
  background: url("../../icons/sheld-icon.svg") no-repeat center / cover;
}

.advantages__item--cheerfulness::before {
  background: url("../../icons/energy-icon.svg") no-repeat center / cover;
}

.advantages__item--ecology::before {
  background: url("../../icons/leaf-icon.svg") no-repeat center / cover;
}

.advantages__item-title {
  @include font-info(18px, 32px, 700);
  margin: 0;
  margin-bottom: 4px;

  @include tablet {
    @include font-info(24px, 36px, 700);
    margin-bottom: 10px;
  }
}

.advantages__item-description {
  margin: 0;
  text-align: center;


  @include tablet {
    @include font-info(16px, 24px);
    text-align: left;
  }

  @include desktop {
    text-align: center;
  }
}
