//

.card {
  display: flex;
  flex-direction: column;
  background-color: $base-color-4;
  padding: 43px 20px 20px;
  border-radius: 4px;

  @include tablet {
    padding: 50px 30px 30px;
  }
}

.card__image-link {
  text-align: center;
  margin-bottom: 19px;

  @include tablet {
    margin-bottom: 26px;
  }
}

.card__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 4px;

  @include font-info(18px, 32px, 700);

  @include tablet {
    @include font-info(24px, 36px, 700);
    margin-bottom: 9px;
  }
}

.card__link {
  display: block;
  text-decoration: none;
  color: $base-color-3;
}

.card__description {
  margin: 0;
  margin-bottom: 16px;

  @include tablet {
    margin-bottom: 20px;
  }
}

.card__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  @include font-info(20px, 32px, 600);
  margin-left: -2px;
}

.card__button {
  position: relative;
  padding-left: 46px;

  &::after {
    position: absolute;
    content: "";
    left: 20px;
    width: 20px;
    height: 18px;
    background: url("../../icons/cart-plus-icon.svg") no-repeat center;
  }
}
